*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #343434;
}

body {
    background-color: #e9e9e9;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}

h2 {
    font-size: 28px;
    color: #fff;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

p {
    line-height: 1.4;
}

header {
    background-image: repeating-radial-gradient(ellipse farthest-corner at left bottom, rgb(76, 113, 205) 0%, rgb(90, 122, 210) 50%, rgb(119, 143, 220) 100%);
    height: 250px;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .container h1{
    margin: 0;
}

header .container p {
    font-size: 18px;
    color: #fff;
}

header .container .soc-logo {
    display: flex;
    justify-content: space-around;
    width: 150px;
    margin-top: 20px;
}

/* menu ========================== */
menu {
    top: 0;
    margin: 0;
    padding: 0;
    position: sticky;
    z-index: 20;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(120, 120, 120, 0.5);
}

menu .container {
    display: flex;
    justify-content: center;
}

menu .container ul {
    padding: 0;
    width: 1000px;
    display: flex;
    justify-content: space-around;
}

menu .container ul li {
    display: block;
}

menu .container ul li a {
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
}

menu .container ul li a::after {
    display: block;
    width: 0;
    left: 0;
    background-color: #343434;
    content: "";
    height: 1px;
    position: absolute;
    bottom: -5px;
    transition: all 0.3s;
}

menu .container ul li a:hover::after {
    width: 100%;
}

/* works ========================== */
.works {
    background-color: #fff;
    margin-top: 80px;
}

.works>h2 {
    color: #343434;
    text-align: center;
    padding: 40px 0;
}

.works .container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 0 40px 0;
}

.works .container a {
    text-decoration: none;
}

.works .container .image {
    width: 350px;
    height: 400px;
    background-color: lightcoral;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    filter: brightness(0.7);
}

.works .container .image img {
    position: absolute;
    z-index: 0;
    transition: all 0.3s;
}

.works .container .image::before {
    content: "";
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transform: scaleX(0);
    transition: all 0.3s;
    z-index: 5;
}

.works .container .image::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    border-left: 1px solid white;
    border-right: 1px solid white;
    transform: scaleY(0);
    transition: all 0.3s;
    z-index: 5;
}

.works .container .image:hover {
    filter: brightness(1);
}

.works .container .image:hover::before {
    transform: scaleX(1);
}

.works .container .image:hover::after {
    transform: scaleY(1);
}

.works .container .image:hover img {
    transform: scale(1.2);
}

.works .container .image:hover .description h2,
.works .container .image:hover .description p {
    transform: translate(0);
    opacity: 1;
}

.works .container .image .description h2 {
    transition: all 0.3s;
    transform: translateY(25px);
}

.works .container .image .description p {
    transition: all 0.3s;
    transform: translateY(-25px);
    color: #fff;
    opacity: 0;
}

/* skills ========================== */
.skills {
    background-color: #fff;
    margin-top: 80px;
    padding-bottom: 40px;
}

.skills .container {
    display: flex;
    flex-direction: column;
}

.skills>h2 {
    color: #343434;
    text-align: center;
    padding: 40px 0;
}

.skills .line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills .line .skill-name {
    flex: 1 1 20%;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.skills .line .skill-level {
    flex: 1 1 80%;
    height: 20px;
    background-color: #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.skills .line .skill-level .number {
    color: #fff;
    z-index: 5;
    font-size: 14px;
}
.skills .line .skill-level span {
    color: #fff;
    z-index: 5;
    font-size: 14px;
}

.skills .line .skill-level .skill-now {
    position: absolute;
    left: 0%;
    z-index: 1;
    height: 90%;
    background-color: rgb(90, 122, 210);
}

/* .skills .line .skill-level .html-css {
    width: 80%;
}

.skills .line .skill-level .bootstrap {
    width: 50%;
}

.skills .line .skill-level .js-jquery {
    width: 40%;
}

.skills .line .skill-level .php {
    width: 20%;
}

.skills .line .skill-level .wordpress {
    width: 30%;
}

.skills .line .skill-level .education {
    width: 100%;
} */

.skills .line .skill-level p {
    z-index: 2;
    color: #fff;
}

/* resume ========================== */
.resume {
    background-color: #fff;
    margin-top: 80px;
    padding-bottom: 40px;
}

.resume .container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.resume .container .photo {
    padding-top: 40px;
    flex: 30%;
    margin-right: 15px;
}

.resume .container .description {
    flex: 70%;
    margin-left: 15px;
}

.resume .container .description h2 {
    margin: 40px 0 60px 0;
    color: #343434;
}

.resume .container .description a {
    padding: 10px 15px;
    background-color: rgb(90, 122, 210);
    border: none;
    color: #fff;
    position: absolute;
    right: 15px;
    bottom: 0;
    cursor: pointer;
    transition: all 0.3s;
    text-transform: uppercase;
    text-decoration: none;
}

.resume .container .description a:hover {
    transform: scale(1.05);
    background-color: rgbrgb(119, 143, 220);
}

/* footer ========================== */
footer p {
    font-size: 14px;
    text-align: center;
}