$color-primary-0: #a9b4bd;
/* Основной Цвет */
$color-primary-1: #969fa6;
$color-primary-2: #68869c;
$color-primary-3: #e2ebf2;
$color-primary-4: #ebeff2;

$color-complement-0: #fff2e1;
/* Дополнительный Цвет */
$color-complement-1: #dfd5c8;
$color-complement-2: #d2b48b;
$color-complement-3: #fff7ed;
$color-complement-4: #fffbf7;

$colot-text-1: #23323d;

body {
    font-family: "Roboto", "Arial", sans-serif;
}

body * {
    box-sizing: border-box;
    font-size: 16px;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    color: $colot-text-1;
}

h2 {}

h3 {
    font-size: 18px;
}

h4 {}

.header {
    background-color: #fff;
}

.title {
    justify-content: center;
    align-items: center;
    height: 5rem;
}

// Border design 

.content {
    background-color: $color-primary-4;
}

.settings {
padding: 0;
}

.users{
    box-shadow: 0 3px 5px $color-primary-2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid $color-complement-1;
    padding: 15px;
    background-color: #fff;
    button{
        margin-right: 15px;
    }
}

.data-main {
    display: flex;
    flex-direction: column;
}

.data-address {
    display: flex;
    flex-direction: column;
}