*{
    box-sizing: border-box;
}
body{
    font-size: 16px;
    color: #262626;
    font-family: 'Lato', sans-serif;
    height: 5000px;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
h2 {
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center;
}
h3 {
    font-size: 20px;
}
span{
    color: #ff0036;
}
p {
    line-height: 1.3em;
}
/* menu ============================= */
menu {
    width: 100%;
    position: fixed;
    background-color: black;
    height: 3rem;
    z-index: 20;
}
menu .container{
    position: relative;
    display: flex;
    justify-content: flex-end;
}
menu .container ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 1em;
}
menu .container ul li{
    padding-left: 2.5em;
}
menu .container ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
}
menu .container ul li a::after{
    content: "";
    left: 0;
    bottom: -0.7em;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #ff0036;
    transform: scale(0);
    transition: all 0.3s;
}
menu .container ul li a::before{
    content: "";
    left: 0;
    top: -0.7em;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #ff0036;
    transform: scale(0);
    transition: all 0.3s;
}
menu .container ul li a:hover::before,
menu .container ul li a:hover::after{
    transform: scale(1);
}
.container-logo{
    position: relative;
    z-index: 25;
}
.container .logo{
    position: absolute;
    left: 0;
    top: 0;
}
/* head-line ============================= */
.head-line {
    position: relative;
    background-color: black;
}
.head-line .head-slider{
    position: relative;
    overflow: hidden;
    height: 756px;
}
.head-line .head-slider img{
    flex: 1 1 100%;
    width: 100%;
    filter: brightness(0.4);
    position: absolute;
    transition: all 1s;
}
.head-line .head-slider .opacity{
    opacity: 0;
}
.head-line > button{
    position: absolute;
    top: 50%;
    border: none;
    width: 17px;
    height: 28px;
}
.head-line > button.prev{
    left: 5%;
    background: url(../img/prev.png) center center;
    background-size: contain;
    transition: all 0.3s;
}
.head-line > button.prev:hover{
    background: url(../img/next.png) center center;
    background-size: contain;
    transform: rotate(180deg);
}
.head-line > button.next{
    right: 5%;
    background: url(../img/prev.png) center center;
    transform: rotate(180deg);
    background-size: contain;
    transition: all 0.3s;
}
.head-line > button.next:hover{
    background: url(../img/next.png) center center;
    transform: rotate(0deg);
    background-size: contain;
}
.head-line .head-text{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.head-line .head-text .buttons{
    margin-top: 50px;
}
.head-line .head-text .buttons button{
    padding: 18px 35px;
    background-color: #000;
    border: none;
    color: #fff;
    text-transform: uppercase;
    margin: 0 15px;
    transition: all 0.3s;
}
.head-line .head-text .buttons button:hover{
    background-color: #ff0036;
}
/* about ============================= */
.about {
    padding-top: 100px;
    text-align: justify;
}
.about > p{
    font-weight: bold;
    margin-bottom: 100px;
    text-align: center;
}
.about .container{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.about .container .left{
    margin-right: 15px;
    width: 50%;
    text-align: unset;
}
.about .container .left > p{
    margin-bottom: 40px;
}
.about .container .left .bar {
    margin-top: 1em;
}
.about .container .left .bar .bar-name{
    background-color: #f7f7f7;
    border: 1px solid #e7e7e7;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.about .container .left .bar .bar-name .plus {
    position: relative;
}
.about .container .left .bar .bar-name .plus .gorizontal{
    height: 2px;
    width: 0.8em;
    left: 1em;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    position: absolute;
}
.about .container .left .bar .bar-name .plus .vertical{
    height: 2px;
    width: 0.8em;
    left: 1em;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    position: absolute;
    transform: rotate(90deg);
    transition: all 0.3s;
}
.about .container .left .bar .bar-name .plus .vertical.active{
    transform: rotate(0deg);
    z-index: 10;
    background-color: #ff0036;
}
.about .container .left .bar .bar-name h3{
    margin-left: 3em;
    transition: all 0.3s;
}
.about .container .left .bar .bar-name h3.active{
    color: #ff0036;
}
.about .container .left .bar p{
    padding: 0.5em;
    border: 1px solid #e7e7e7;
}
.about .container .right{
    margin-left: 15px;
    width: 50%;
}
.about .container .right img{
    transform: scale(0.8);
    position: absolute;
    top: 0;
    transition: all 0.5s;
}
.about .container .right img.img-1{
    right: 210px;
    z-index: 3;
}
.about .container .right img.img-2{
    right: 90px;
    transform: scale(1);
    z-index: 5;
    cursor: pointer;
}
.about .container .right img.img-3{
    right: -40px;
    z-index: 4;
}
.about .container-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    text-align: center;
}
.about .container-icon .about-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}
.about .container-icon .about-icon h3{
    margin: 35px 0;
    text-transform: uppercase;
}
/* portfolio ============================= */
.portfolio {
    background-color: #262626;
    padding: 100px 0;
    margin-top: 100px;
}
.portfolio .portfolio__portfolio-name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.portfolio .portfolio__portfolio-name h2{
    color: #fff;
}
.portfolio .portfolio__portfolio-name ul{
    display: flex;
}
.portfolio .portfolio__portfolio-name ul li{
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    text-transform: uppercase;
    cursor: pointer;
}
.portfolio .portfolio__portfolio-name ul li.active{
    color: #ff0036;
}
.portfolio .portfolio__portfolio-var{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 100px;
}
.portfolio .portfolio__portfolio-var img{
    cursor: pointer;
    max-width: 400px;
}
.portfolio .portfolio__portfolio-var img:hover{
    filter: brightness(0.7);
    z-index: 5;
    transform: scale(1.01);
}
/* team ============================= */
.team {
    padding-top: 100px;
    text-align: center;
}
.team .team__group{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.team .team__group .team__group__person{
    width: 270px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 2px solid #e7e7e7;
    box-sizing: border-box;
    position: relative;
    transition: all 0.3s;
}
.team .team__group .team__group__person.active{
    border: 2px solid #262626;
}
.team .team__group .team__group__person > img{
    width: 268px;
}
.team .team__group .team__group__person h3{
    text-transform: uppercase;
    margin: 25px 0;
    transition: all 0.3s;
}
.team .team__group .team__group__person h3.active{
    color: #ff0036;
}
.team .team__group .team__group__person .team__group__person__opacity{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 240px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s;
}
.team .team__group .team__group__person .team__group__person__opacity.active{
    opacity: 1;
}
.team .team__group .team__group__person .team__group__person__opacity img{
    top: 40%;
}
.team .team__group .team__group__person .team__group__person__opacity img{
    margin: 10px;
    cursor: pointer;
}    
/* skills ============================= */
.skills {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.skills .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.skill-var{
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 15px 0 15px;
}
.skill-var h3{
    margin: 25px 0;
    text-transform: uppercase;
    font-weight: 600;
}
.progress-ring {
    width: 150px;
    height: 150px;
}
.progress-ring__circle{
    stroke: #ff0036;
    stroke-width: 4;
    stroke-dashoffset: 420;
    fill: transparent;
    transform-origin: center;
    transform: rotate(-90deg);
    transition: stroke-dashoffset 1s;
}
.skill-bar {
    position: relative;
}
.skill-bar h4{
    position: absolute;
    font-size: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* services ============================= */
.services {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background-color: #272727;
    color: #a4a4a4;
}
.services h3, .services h2 {
    color: #fff;
}
.services .services-section{
    margin-top: 50px;
    display: flex;flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}
.services .services-section .services-var{
    max-width: 570px;
    text-align: justify;
    margin-top: 50px;
}
.services .services-section .services-var:hover .services-description p{
    color: #fff;
}
.services .services-section .services-var:hover .services-description{
    background-color: #3d2329;
}
.services .services-section .services-var:hover .services-name .img-1{
    background: url(../img/acrive-devel.png) center center;
    background-size: cover;
}
.services .services-section .services-var:hover .services-name .img-2{
    background: url(../img/active-html.png) center center;
    background-size: cover;
}
.services .services-section .services-var:hover .services-name .img-3{
    background: url(../img/active-wp.png) center center;
    background-size: cover;
}
.services .services-section .services-var:hover .services-name .img-4{
    background: url(../img/active-aplic.png) center center;
    background-size: cover;
}
.services .services-section .services-var:hover .services-name .img-5{
    background: url(../img/active-ui-ux.png) center center;
    background-size: cover;
}
.services .services-section .services-var:hover .services-name .img-6{
    background: url(../img/active-respon.png) center center;
    background-size: cover;
}
.services .services-section .services-var .services-name{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.services .services-section .services-var .services-name .img{
    width: 57px;
    height: 47px;
    margin-right: 30px;
    transition: all 0.3s;
}
.services .services-section .services-var .services-name .img-1{
    background: url(../img/services-devel.png) center center;
    background-size: cover;
}
.services .services-section .services-var .services-name .img-2{
    background: url(../img/services-html.png) center center;
    background-size: cover;
}
.services .services-section .services-var .services-name .img-3{
    background: url(../img/services-wp.png) center center;
    background-size: cover;
}
.services .services-section .services-var .services-name .img-4{
    background: url(../img/services-aplic.png) center center;
    background-size: cover;
}
.services .services-section .services-var .services-name .img-5{
    background: url(../img/services-ui-ux.png) center center;
    background-size: cover;
}
.services .services-section .services-var .services-name .img-6{
    background: url(../img/services-respon.png) center center;
    background-size: cover;
}
.services .services-section .services-var .services-description{
    background-color: #343434;
    padding: 1.2em 2em;
    transition: all 0.3s;
}
.services-description p{
    transition: all 0.3s;
}
/* blog ============================= */
.blog{
    padding-top: 100px;
    margin-bottom: 100px;
}
.blog .container{
    width: 970px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog .container > h2{
    text-align: center;
}
.blog .container > p{
    text-align: center;
}
.blog .container .section-blogs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.blog .container .section-blogs .box-blog{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.blog .container .section-blogs .box-blog .img-blog-1{
    width: 370px;
    height: 200px;
    background: url(../img/blog-img-1.jpg) center center;
    background-size: cover;
}
.blog .container .section-blogs .box-blog .img-blog-2{
    width: 370px;
    height: 200px;
    background: url(../img/blog-img-2.jpg) center center;
    background-size: cover;
}
.blog .container .section-blogs .box-blog .description-blog{
    width: 570px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    text-align: justify;
}
.blog .container .section-blogs .box-blog .description-blog .icons-blog{
    display: flex;
    align-items: center;   
    margin: 10px 0;
}
.blog .container .section-blogs .box-blog .description-blog .icons-blog span{
    color: #a2a2a2;
    margin: 0 10px;
}
.blog .container .section-blogs .box-blog .description-blog .btn-blog{
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    color: #fff;
    left: 0;
    bottom: 0;
    padding: 10px 20px;
    background-color: #343434;
    transition: all 0.3s;
}
.blog .container .section-blogs .box-blog .description-blog .btn-blog:hover{
    background-color: #ff0036;
}
/* contact ============================= */
.contact {
    text-align: center;
    padding-top: 100px;
    position: relative;
}
.contact > p{
    margin-bottom: 100px;
}
.contact form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 460px;
    height: 480px;
    box-shadow: 0 5px 5px rgba(134, 134, 134, 0.6);
    position: absolute;
    top: 71%;
    right: 0;
    transform: translate(-50%, -50%);
}
.contact form h3{
    margin: 50px;
    text-transform: uppercase;
}
.contact form input{
    width: 360px;
    margin: 10px auto;
}
.contact form textarea{
    width: 360px;
    height: 120px;
    margin: 10px auto;
}
.contact form button{
    display: inline-block;
    text-align: right;
    text-transform: uppercase;
    border: none;
    background-color: #343434;
    color: #fff;
    padding: 10px 20px;
    margin: 20px 50px 0 auto;
    transition: all 0.3s;
}
.contact form button:hover{
    background-color: #ff0036;
}
/* footer ============================= */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #232323;
}
footer h3{
    font-size: 24px;
    color: #a2a2a2;
}