@media (max-width: 1199px) {
    .container {
        width: 85%;
        margin: 0 auto;
    }

    .burger-menu {
        display: block;
    }


    menu .main ul {
        display: none;
    }

    p {
        font-size: 16px;
    }

    footer .main ul {
        font-size: 12px;
    }
}

@media (max-width: 991px) {

    header menu .logo {
        flex: 1 1 90%;
    }

    .burger-menu__nav{
        width: 50%;
    }

    .headline span {
        line-height: 1.5em;
        text-align: center;
    }

    .education .container h2 {
        margin-top: 60px;
    }

    .education .container .image {
        display: none;
    }

    .education .contant {
        padding: 0;
    }

    footer a {
        font-size: 12px;
    }

    p {
        font-size: 14px;
    }

    .teachers .container .teachers-list .person:nth-last-of-type(-n+3) {
        padding-bottom: 60px;
    }

    .teachers .container .teachers-list .person:last-child {
        padding-bottom: 110px;
    }

    footer .container {
        justify-content: center;
    }

    footer .container .logo {
        flex: 1 1 100%;
    }

    footer .main ul {
        display: none;
    }
}

@media (max-width: 767px) {
    header h1 {
        text-align: center;
        padding-bottom: 50px;
    }

    .clients .container .slider-cl .photo {
        display: none;
    }

    .clients .container .slider-cl .active {
        display: block;
    }
}

@media (max-width: 730px) {

    /* .blog .contant .section {
        display: none;
    }
    .blog .contant .section.active {
        display: block;
    } */
    .newsletter .form {
        height: 320px;
        flex-direction: column;
        padding: 60px 0;
    }

    .newsletter .form h3 {
        text-align: center;
        width: 90%;
    }

    .newsletter .form input {
        width: 90%;
    }

    .contact .container {
        justify-content: baseline;
        flex-wrap: wrap;
    }

    .contact .container .left {
        padding: 0;
        width: 100%;
        margin: 0;
    }

    .contact .container .right {
        padding: 0;
        width: 100%;
        margin: 0;
        margin-top: 40px;
    }

    .contact .container .right .map {
        width: 100%;
        margin: 0;
    }

}

@media (max-width: 480px) {
    header menu .logo {
        margin: 0;
    }

    header menu .logo span {
        font-size: 20px;
        margin-left: 10px;
    }

    .burger-menu__nav{
        width: 80%;
    }

    h1 {
        margin-top: 20%;
        font-size: 50px;
    }

    .courses .container .courses-section {
        flex-direction: column;
    }

    .courses .container .courses-section .section {
        width: 100%;
        margin: 60px 0 0 0;
    }

    .courses .container .courses-section .section .photo {
        width: 100%;
    }

    footer .logo span {
        font-size: 20px;
        margin-left: 10px;
    }

}